@model List<Enfermo>

<h1>Lista Enfermos</h1>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Inscripcion</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>sexo</th>
            <th>Numero SS</th>
            <th>Controles</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var enfermo in Model)
        {
            <tr>
                <td>@enfermo.Inscripcion</td>
                <td>@enfermo.Apellido</td>
                <td>@enfermo.Direccion</td>
                <td>@enfermo.sexo</td>
                <td>@enfermo.NumeroSeguridad</td>
                <td>
                <a asp-controller="Enfermos" asp-action="Details" asp-route-inscripcion="@enfermo.Inscripcion" class="btn btn-secondary">Details</a>
                <a asp-controller="Enfermos" asp-action="Delete" asp-route-inscripcion="@enfermo.Inscripcion" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>